:root {
  --color-primary: hsl(259, 100%, 65%);
  --color-error: hsl(0, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smoke-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
  --fontsize-input: 32px;
  --font-regular: '400';
  --font-bold: '700';
  --font-black: '800i';
  --break-mobile: 375px;
  --break-desktop: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}